<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-5.3.2/css/bootstrap.min.css">
    <script src="/bootstrap-5.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/login.css">
    <title>Sign in</title>
</head>

<body class="login_body">
<div class="login_container">
    <div class="login_banner">
        <img src="/image/login_banner.jpg" alt="login_banner" class="login_banner_img">
    </div>
    <div class="login_form">
        <div style="text-align: center; margin-top: 2rem"><h3>Sign In</h3></div>
        <div class="login_form_content">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="login_username" class="form-label">User Name</label>
                    <input class="form-control form-control-lg" type="text" id="login_username" name="username" required >
                </div>
                <div class="mb-3">
                    <label for="login_password" class="form-label">Password</label>
                    <input type="password" class="form-control form-control-lg" id="login_password" name="password" required>
                </div>
                <div class="text-center text-danger fw-bold" th:if="${param.error}">
                    Invalid Username & Password
                </div>
                <button type="submit" class="login_btn btn btn-primary">Sign In</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>
